# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Environment variables
.env
.env.*.local

# Logs
logs
*.log
logs/**/*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*
.pnpm-debug.log*

# Operating System files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing files
coverage/
*.lcov
